main {
    section {
        .container-general {
            .container-contacto {
                @include grid (1fr 2fr, 42% 42%);
                @include width-height (100%, 100%);
                background-color: $negro-claro ;
                padding: 1.5rem;
                row-gap: 16%;
                margin-bottom: 1rem;


                .container-img {
                    @include width-height (8vh, 8vh);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    border: 1px solid $verde;

                    img {
                        width: 100%;
                        padding: 1.5rem;
                    }
                }

                .numero-contacto {
                    grid-template-columns: 1;
                    display: grid;
                    align-items: center;
                    padding: 1rem;

                    p {
                        &:hover {
                            color: $verde;
                        }
                    }
                }
            }

            .container-redes {

                @include grid (1fr, 50% 40%);
                @include width-height (100%, 100%);
                row-gap: 10%;


                .container-iconredes {
                    background-color: $negro-claro ;
                    @include flex(row, space-around, center);

                    .icon {
                        fill: rgb(120, 116, 116);
                        width: 30px;
                        height: 30px;
                        transition: fill 0.3s;
                    }

                    .icon:hover {
                        fill: $verde;
                    }

                    .img-redes {
                        width: 10%;
                    }
                }

                .container-ubicacion {
                    background-color: $negro-claro ;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 2rem 4rem;

                    .cordoba {
                        padding-left: 0.7rem;
                        margin: 0;
                        font-size: 1.5rem;
                        font-weight: 400;

                        &:hover {
                            color: $verde;
                        }
                    }



                    .container-img {
                        align-items: center;

                        .icon-ubic {
                            fill: rgb(120, 116, 116);
                            width: 25px;
                            height: 25px;
                            transition: fill 0.3s;
                        }

                        .icon:hover {
                            fill: $verde;
                        }


                    }

                }
            }
        }

        @media screen and (min-width: 600px) {
            .container-general {
                .container-contacto {
                    @include grid (15% 85%, 41% 41%);
                    @include width-height (100%, 25vh);

                }
            }

        }

        @include mq-tablet {
            .container-general {
                .container-contacto {
                    @include grid (20% 80%, 41% 41%);
                    @include width-height (100%, 40vh);
                    padding: 3rem 0 3rem 3rem;

                    .container-img {
                        @include width-height(90%, 15vh);
                    }

                }
            }
        }

        @include mq-desktop {
            .container-general {
                @include grid(58% 39%, 1fr);
                column-gap: 3%;

                .container-contacto {
                    @include grid (20% 80%, 41% 41%);
                    @include width-height (100%, 100%);

                    padding: 3rem 0 3rem 3rem;

                    .container-img {
                        @include width-height(100%, 100%);
                    }

                    .numero-contacto {
                        padding: 2rem;

                        p {
                            font-size: 1.6rem;
                        }
                    }
                }

                .container-redes {
                    .container-iconredes {
                        .icon {
                            width: 45px;
                            height: 45px;
                        }
                    }

                    .container-ubicacion {
                        .cordoba {
                            font-size: 1.7rem;
                        }

                        .container-img {
                            .icon-ubic {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}