// fonts
// font-family: "Montserrat", sans-serif;
//  font-family: "Lato", sans-serif;

body {
    background-color: $negro;
    color: $gris-medio;
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: 1.3rem;
}

ul {
    li {
        list-style-type: none;
    }
}

img {
    width: 100%
}

section {
    border-bottom: 1px solid $gris-oscuro;
}

h1 {
    color: $verde;
    font-family: "Lato", sans-serif;

}

svg {
    width: 2.5rem;
}

svg:hover {
    color: $verde;
}

h2 {
    color: $verde;
    text-transform: uppercase;
    margin-top: 4rem;
    font-weight: 600;
    font-family: "Lato", sans-serif;


}

a {
    text-decoration: none;
    color: inherit;
    border: none;
}

a:hover {

    color: $violeta;
}

main {
    @include mq-mobile {
        @include margin-mobile;


    }

    @include mq-tablet {
        @include margin-tablet;
    }

    @include mq-desktop {
        margin: 0 18%;
        min-height: 100vh;
        position: relative;
        width: 82%;
        padding: 4rem 12rem;

        p {
            font-size: 1.5rem
        }

        section {
            padding-bottom: 10rem;
            margin-bottom: 5rem;
        }

        h2 {
            font-size: 4rem;
            margin-bottom: 8rem;

        }

        h3 {
            font-size: 2.2rem;

        }

        h4 {
            font-size: 1.7rem;
        }
    }
}