header {
    @include width-height(100%, 50px);
    position: fixed;
    top: 0;
    left: 0;
    background-color: $negro;
    border-bottom: 1px solid $negro-claro;
    z-index: 1;

    .container {
        width: 90%;
        max-width: 1200px;
        margin: auto;

        .btn-menu {
            float: left;

            label {
                cursor: pointer;
            }
        }
    }
}

/* menu lateral*/
#btn-menu {
    display: none;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

/* para deslizar el menu */
#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.container-menu {
    position: fixed;
    @include width-height(100%, 100vh);
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    transition: all 500ms ease;
    /* para ocultar el menu lateral*/
    opacity: 0;
    visibility: hidden;
    z-index: 2;


    .cont-menu {
        width: 100%;
        max-width: 80%;
        background-color: $negro-claro;
        height: 100vh;
        position: relative;
        transition: all 500ms ease;
        transform: translateX(-100%);
        border-right: 2px solid $gris-oscuro;

        label {
            position: absolute;
            right: 5px;
            top: 10px;
            color: #fff;
            cursor: pointer;

            svg {
                background-color: $negro-claro;
            }
        }

        nav {
            transform: translateY(15%);


            .container-img {
                .img-bio {
                    display: flex;
                    justify-content: center;

                    .img-nav {
                        border-radius: 50%;
                        width: 55%;
                        border: 5px solid $gris-oscuro;
                        margin-bottom: 3rem;

                    }
                }

            }

            ul {
                @include flex(column, center, left);
                padding-left: 0;
                text-align: center;

                li {
                    font-size: 1.5rem;

                    a {
                        text-transform: uppercase;
                        padding: 15px;
                        border-left: 5px solid transparent;
                        transition: all 400ms ease;
                        letter-spacing: 2px;
                        font-weight: 500;
                        color: $gris-medio;


                        &:hover {
                            border-left: 5px solid $gris-medio;
                            background: $gris-oscuro;
                        }
                    }
                }
            }
        }

        .icon-cancel {
            color: white;
        }
    }


}

@include mq-tablet {
    .container-menu {
        .cont-menu {
            transform: translateX(0%);
            max-width: 30%;

            nav {
                .container-img {
                    .img-bio {
                        .img-nav {
                            width: 40%;
                        }
                    }
                }
            }

        }
    }


}

@include mq-tablet {}

@include mq-desktop {
    header {
        border-bottom: none;
    }

    .container-menu {
        opacity: 1;
        visibility: visible;
        background-color: rgba(0, 0, 0, 0);
        z-index: 0;


        .cont-menu {
            max-width: 18%;
            transform: translateX(0%);


            .icon-cancel {
                display: none;
            }

            nav {
                .container-img {
                    .img-bio {
                        .img-nav {
                            margin-bottom: 5rem;
                            width: 60%;
                        }
                    }
                }

                ul {
                    li {
                        a {
                            padding: 20px;

                        }
                    }
                }
            }
        }
    }
}