section {
    .btn-inicio {
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0.5rem 0;
        color: $violeta;
        border: 2px solid $gris-oscuro;
        background-color: $negro-claro;
        font-weight: 500;
        margin-top: 2rem;
        letter-spacing: 1px;
        width: 100%;
    }

    .btn-contactar {
        cursor: pointer;
        text-align: center;
        margin-top: 1rem;
    }

    .container-inicio {
        border: 2px solid $gris-oscuro;
        background-color: $negro-claro;
        margin: 8rem 0;
        padding: 4rem 2rem 2rem 2rem;


        .cont-inicio {
            height: 46vh;

            h1 {
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                font-size: 2.1rem;
            }

            h2 {
                color: $violeta;
                letter-spacing: 1px;
                font-size: 1.3rem;
                grid-column: 1/3;
                margin: 0 0 7rem 0;

            }

            .p-inicio {
                font-style: italic;
            }

            .container-datos {
                @include flex(row, left, baseline);
                gap: 1rem;
            }

            /* boton de contacto*/
            #btn-contacto {
                display: none;
            }

            #btn-contacto:checked~.datos-de-contacto {
                transition: all 500ms ease;
                opacity: 1;
                visibility: visible;

            }

            .datos-de-contacto {
                opacity: 0;
                visibility: hidden;
                margin-top: 6rem;
                margin-bottom: 1rem;
                background-color: $negro;

                .flex-row {
                    @include flex(row, left, self-start);

                    .dato-contacto {
                        &:hover {
                            color: $verde;
                        }
                    }

                    .cont-img {
                        @include width-height(2rem, 100%);
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        border-radius: 50%;

                        .icon-inicio {
                            fill: $gris-medio;
                            width: 2rem;
                            padding-bottom: 3px;
                            height: 100%;

                            &:hover {
                                fill: $verde;
                            }
                        }

                        .icon-mail {
                            width: 2rem;
                        }

                    }

                }
            }




            .cubos {
                display: none;
            }

            .cubo {
                width: 7rem;
                position: relative;
                z-index: 0;
                left: 60%;
                opacity: 0.1;

            }

            .cubo-dos {
                grid-column: 2;
                top: 20%;
                left: 50%;
            }

        }
    }

    @include mq-tablet {
        .container-datos {
            margin-top: 2rem;

        }

        .btn-inicio {
            font-size: 1.4rem;
            padding: 1rem 0;
        }


        .container-inicio {
            margin: 10rem 0;
            padding: 8rem 8rem 0 8rem;

            .cont-inicio {
                height: 100%;

                .container-grid {
                    @include grid(60% 40%, 1fr)
                }

                h1 {
                    font-size: 3.5rem;
                }

                h2 {
                    font-size: 1.5rem;
                    grid-row: 1;
                }

                .p-inicio {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }

                .datos-de-contacto {
                    background-color: $negro-claro;
                }
            }
        }
    }

    @include mq-desktop {
        .btn-inicio {
            margin-top: 4rem;
            font-weight: 600;
        }

        .container-datos {
            width: 70%;
        }

        .container-inicio {
            margin: 5rem 0;
            padding: 7rem 7rem 1rem 7rem;

            .cont-inicio {
                .cubos {
                    display: block;
                    grid-column: 2;
                    grid-row: 1;
                }

                h1 {
                    font-size: 4rem;
                }

                .h2-inicio {
                    font-size: 1.7rem;
                    margin: 1rem 0;
                    margin-bottom: 7rem;
                    letter-spacing: 1.5px;
                }

                .p-inicio {
                    font-size: 1.6rem;
                    font-weight: 500;
                }

                .container-datos {
                    gap: 2rem;
                }


                .datos-de-contacto {
                    margin-top: 3rem;
                    display: flex;
                    flex-direction: row;
                    gap: 4rem;


                    .flex-row {
                        margin-bottom: 1rem;
                        padding-bottom: 1rem;


                        .dato-contacto {
                            padding-left: 2px;
                            font-size: 1.9rem;
                            font-weight: 500;
                            margin-bottom: 2px;

                        }

                        .cont-img {
                            @include width-height(3rem, 3rem);
                            display: flex;
                            justify-content: center;
                            align-items: normal;
                            border-radius: 50%;

                            .icon-inicio {
                                fill: $gris-medio;
                                width: 2rem;
                                padding-bottom: 3px;

                                &:hover {
                                    fill: $verde;
                                }
                            }

                            .icon-mail {
                                width: 2rem;
                            }

                        }

                    }
                }

            }
        }

    }

    @include mq-desktop2 {
        .container-inicio {
            padding: 10rem 10rem 4rem 10rem;

            .cont-inicio {
                .datos-de-contacto {
                    @include flex(row, left, self-end);
                }
            }
        }
    }

}