main {
    section {
        @include mq-mobile {
            .container-sobremi {
                @include flex (column, left, start);

                div {
                    p {
                        color: $gris-claro;
                        padding-bottom: 2rem;
                    }
                }

                .container-certificados {
                    .img-bio {
                        opacity: 0.5;

                        .img-react {
                            border: 4px solid #FF01FD;
                        }
                    }
                }
            }
        }

        @include mq-tablet {}

        @include mq-desktop {
            .container-sobremi {
                @include flex (row, left, start);
                width: 100%;
                gap: 8rem;


                .container-certificados {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 6rem 0 0 0;

                    .img-bio {
                        width: 100%;


                        img {
                            width: 20rem;
                        }
                    }
                }


            }

        }

    }
}